html {
  /* Base styles */
  font-size: 16px/1.5;
  font-family: "Pixelify Sans", sans-serif;
  background-color: cornsilk;
}

/* Body */

main {
  display: flex;
  flex-direction: column;
  background-color: #fff0b5;
  border: 1px solid #e3d6a1;
  padding: 10px;
  width: 50%;
}

#all-items-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.item {
  color: black;
  border: 1px solid grey;
}

.item-crossed {
  color: grey;
  text-decoration: line-through;
}

/* Footer */
footer {
  background-color: bisque;
}

.url:visited {
  color: black;
}

.url:hover{
  color: pink;
}